@import "../../uiKit/variables";

.marginTop {
  margin-top: 24px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    max-width: 392px;
  }
}

.changePassWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.inputs {
  padding: 0 16px;
  padding-bottom: 24px;
  flex-grow: 1;
}

.btnWrap {
  padding: 24px 16px;
  border-top: 1px solid $black4;
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    justify-content: center;
  }
}
